{% extends 'base.html.twig' %}

{% block title %}Dziennik uczniowski{% endblock %}

{% block body %}
   <section class="container text-center mt-4">
   		<h3>Witaj w dzienniku uczniowskim</h3>
       <img src="{{ asset('img/typewriter-801921_1280.jpg') }}" alt="Typewriter" class="img-fluid">
   </section>	

{% endblock %}